# ====== Ports (isolated from your other stack) ======
PF_AIRFLOW_PORT=8092
PF_MINIO_API_PORT=9100
PF_MINIO_CONSOLE_PORT=9101
PF_POSTGRES_PORT=5546
PF_SELENIUM_PORT=4448
PF_SELENIUM_VNC_PORT=7901

# ====== Airflow ======
AIRFLOW_UID=50000
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow_pf
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Portfolio
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@datitos.local
TZ=America/Santiago

# ====== MinIO ======
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
PF_BUCKET_RAW=nam-pf-raw
PF_BUCKET_CURATED=nam-pf-curated
PF_BUCKET_QA=nam-pf-qa
PF_BUCKET_DIFF=nam-pf-diff
PF_BUCKET_PUBLIC=nam-pf-public
